analyses
cleaned
cleanedSmall
duplicates.different
duplicates.same
*.png
residuals
normalised*
CELfiles
PGFFiles
krahe
idsMapping
generatedData
permuted
random*
.~lock*
*.aux
*.bbl
*.blg
*.log
*.pdf
*.bcf
*.out
*run.xml
